@import "prism";

html, body {
  height: 100%;
  font-size: 10px;
}

body {
  padding: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.style-container, .resume-container {
  height:100%;
}

#resume-content {
  white-space: normal;
  ul, ol {
    list-style: none;
  }
  h1:first-of-type {
    margin-top: 0;
  }
}

.bottom-container {
  width: 100%;
  height: 4vh;
  padding: 0 1.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
  font-size: 1.4rem;
  a {
    margin-right: 1rem;
  }
}

@media (max-width: 750px) {
  html, body {
    overflow-x: hidden;
    overflow-y: hidden;
  }
  pre {
    max-height: 100%;
  }
}

